{% extends "system_index.html" %}

{% block system_Contable %}
<a href="{%url 'factura:factura_list' %}"><span class="icon fa-arrow-left "></span></a>
<h2>Factura : {{factura.serie}}</h2>
<ul>

	<li><b>Maquina: </b>{{factura.maquina}}</li>
	<li><b>Fecha: </b>{{factura.fecha}}</li>
	<li><b>Vendedor: </b>{{factura.vendedor}}</li>
	<li><b>Cliente: </b>{{factura.cliente}}</li>
	<li><b>Forma de pago: </b>{{factura.formaPago}}</li>
	<li><b>iva: </b>{{factura.iva}}</li>
	<li><b>Total: </b>{{factura.total}}</li>
</ul>
<a href="">Agregar articulo</a>

<h1>detalles de articulo</h1>
<form action="" method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="signup">

		<input type="text" name="factura" placeholder="factura">
		<select name="transporte">
			<option>Coche</option>
			<option>Avión</option>
			<option>Tren</option>
		</select>
		<input type="text" name="descripcion" placeholder="descripcion">
		<input type="number" name="precio" placeholder="precio">
		<input type="number" name="cantidad" placeholder="cantidad">
		<input type="number" name="valorIva" placeholder="valorIva">
		<input type="number" name="subtotal" placeholder="subtotal">

		<button type="submit">Signup</button>
</form>




{%endblock%}
